.annotate {
    font-style: italic;
    color: #366ed4;
}

[role="table"] {
    display: table;
    padding-bottom: 100px;
}

[role="table"] > div[id] {
    display: table-caption;
}

[role="table"] [role="row"] {
    display: table-row;
    
}

[role="table"] [role="cell"],
[role="table"] [role="columnheader"] {
    display: table-cell;
    padding: 0.125em 0.25em;
    width: 100em;
}

[role="table"] [role="columnheader"] {
    font-weight: bold;
    border-bottom: thin solid #1B2C3E;

}

[role="table"] [role="rowgroup"]:last-child [role="row"]:nth-child(odd) {
    background-color: #CBDDF4;
}
[role="table"] [role="rowgroup"]:last-child [role="row"]:hover {
    outline: 2px solid currentcolor;
}

form {
    display: inline;
}
